[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sandy41
[access "refs/for/refs/*"]
	read = group user/sandy41
	push = group user/sandy41
	label-Code-Review = -2..+2 group user/sandy41
	label-Verified = -1..+1 group user/sandy41
	rebase = group user/sandy41
	removeReviewer = group user/sandy41
	submit = group user/sandy41
[access "refs/heads/*"]
	read = group user/sandy41
	create = group user/sandy41
	push = +force group user/sandy41
	pushMerge = group user/sandy41
[access "refs/tags/*"]
	push = +force group user/sandy41
	pushTag = group user/sandy41
	pushSignedTag = group user/sandy41
